    <div class="zx_content" id="form_container">
           
           <div id="myresponse"></div>


        <br />
        <form id="theform" action="/pages/edit/{{page.page_id}}?newMethod=PUT" method="post" enctype="multipart/form-data" >
        
        <div class="card-body">

          <div class="mb-3 row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="threadname">Thread Name<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="threadname" name="threadname" value="{{thread.threadname}}" required="required" class="form-control col-md-7 col-xs-12">              
            </div>
          </div>  


          

          <div class="mb-3 row">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="threadstatus">Status <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <select name="threadstatus" id="threadstatus" class="form-select col-md-7 col-xs-12">
                {{#each theoptions}}
                  <option value="{{@key}}" {{{isSelected ../thread.threadstatus @key}}}>{{this}}</option>
                {{/each}}
                  
              </select>    
            </div>
          </div> 

        


         </div>
                
           <div class="ln_solid"></div>
          <div class="border-top my-3"></div>
          <div class="form-group">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
              <input type="hidden" name="threadid" id="threadid" value="{{thread.thread_id}}">                            
              <button type="button" class="btn btn btn-secondary" data-bs-dismiss="modal">Close</button>              
			        <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success" id="btnsave">Save Changes</button>
            </div>
          </div>
          <div class="my-3">
            <img src="/images/processing.gif" alt="processing" id="loadinggif"/>
          </div>

        </form>
      </div>
 
 <script type="text/javascript">
  $('#loadinggif').hide(); // hide the loading gif   

  $('#theform').submit(function(e) {
    e.preventDefault();
    var formData = new FormData($(this)[0]); 
    var threadid = $('#threadid').val();
    $('#btnsave').prop('disabled', true);
    //alert(formData);
    //console.log(formData);

    $('#loadinggif').show();  // show the loading gif.

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url:  "/threads/edit/"+threadid+"?newMethod=PUT",
                data: formData, 
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr){  
                //console.log(xhr.status);
                if(xhr.status==200){                
                  window.location = "/threads";      
                }
                         
                },
                error: function(xhr, status, error){
                  //console.log(xhr);
                  $('#btnsave').prop('disabled', false);
                  $('#loadinggif').hide(); // hide the loading gif  

                  var errorString = "<div class='alert alert-danger alert-dismissible fade show' role='alert'>";
                  errorString += "<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>";
                  errorString += "<ul class='verror'>";                  
                  $.each( xhr.responseJSON.errors, function( key, value) {
 
                      errorString += "<li>" + value + "</li>";
                  });
                  errorString += "</ul></div>";
                   $('#myresponse').html(errorString);   
                  //alert('Error: something went wrong!');
                  }

            });
            return false;
        });

</script>