<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="width:50%; float:left;">List of {{pagetitle}}</h5>
              <p  style="border: 0px solid #000;  float:right; padding:20px;">                  
              <a href="/pages"  class="btn btn-secondary btn-sm">
              <i class="fa fa-arrow-left"></i> Back to Pages</a>

               <a href="/pages/createsection/{{page.page_id}}" data-bs-title="Add New Section" data-bs-remote="false" data-bs-toggle="modal" data-bs-target="#extraLargeModal" class="btn btn-primary btn-sm">
              <i class="fa fa-plus-circle"></i> Add New Section</a>
              </p>
              <p style="clear: both;"></p>

              <!-- Table with stripped rows -->
              <table class="table datatable table-hover table-striped table-bordered">
                <thead class="bg-dark text-white">
                  <tr>
                    <th scope="col">#</th>
                    <th>Image</th>
                    <th scope="col">Section Title</th>
                    <th scope="col">Section Body</th>
                    <th scope="col">Status</th>
                    <th scope="col">SortOrder</th>
                    
                    <th scope="col">Created At</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each sections}}
                  <tr>
                    <td scope="row">{{inc @index}}</td>
                    <td><img src="/uploads/{{imageurl}}" alt="image" class="img-fluid" /></td>
                    <td>{{sectiontitle}}</td>
                    <td>{{{sectionbody}}}</td>
                    <td>                        
                        <span class="badge bg-{{{isPublished sectionstatus}}} rounded-pill">
                        {{sectionstatus}}
                        </span>                        
                    </td>
                    <td>{{sortorder}}</td>
                    
                    <td nowrap>{{{dateFormat created_at 'DD MMMM, Y hh:mm:ss a'}}}</td>
                    <td>
                     
                        <ul class="nav navbar-right"> 
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa"></i></a>
                                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" role="menu">
                                <li class="dropdown-item">                                    
                                    <a href="/pages/editsection/{{section_id}}" data-bs-title="Edit: {{sectiontitle}} Section" data-bs-remote="false" data-bs-toggle="modal" data-bs-target="#extraLargeModal" class="btn btn-link"><i class="fa fa-edit"></i> Edit Section</a> 
                                </li>  
                               
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">                                    
                                    <a href="/sectiondocs/{{section_id}}" data-bs-title="View/Add Section Docs to {{sectiontitle}}" data-bs-remote="false" data-bs-toggle="modal" data-bs-target="#extraLargeModal" class="btn btn-link"><i class="fa fa-plus"></i> View/Add Section Docs</a> 
                                </li>
                                
                                                                                            
                                </ul>
                            </li>
                        </ul> 

                        
                      </td>
                  </tr>
                  {{/each}}
                </tbody>
                
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>